<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content= "width=device-width, initial-scale=1.0">
	<title>Cureator</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Slabo+27px&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../static/css/dashboard.css">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
</head>

<body class="container-fluid">
	<div class="dashboard row">
	<aside class="d-none d-md-block col-md-1 aside-nav">
		<div class="logo">
			<img class="h-100 w-100" src="../static/img/keania.png">
		</div>
		<div class="aside-wrapper">
		<div class="icon active">
			<i class="icon ion-md-home"></i>
			Home
		</div>
		<div class="icon">
			<i class="icon ion-md-trending-up"></i>
			Trending
		</div>
		<div class="icon">
			<i class="icon ion-md-barcode"></i>
			Popular
		</div>
		<div class="icon">
			<i class="icon ion-md-notifications">
				<sup style="color: red;">10</sup>
			</i>
			Notifications
		</div>
		<div class="icon">
			<i class="icon ion-md-cart">
			</i>
			WatchList
		</div>
		<div class="icon">
			<i class="icon ion-md-settings"></i>
			Settings
		</div>
		<div class="icon sub">
			<i class="icon ion-md-settings"></i>
			Subscribe
		</div>
	</div>
	</aside>
	<main id="content" class="container-fluid col-md-11">
		<nav id="smallScreenNav">
			<div class="logo">
				logo container
			</div>
			<div class="avatar">
				Avatar
			</div>
		</nav>
		<nav id="bigScreenNav">
				<form>
				    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search Here...">
				</form>
			<div class="user-info">
				<img src="../static/svg/cart.svg" alt="avatar" class="avatar">
				<p>Ibaakee Ledum</p>
				<i class="icon ion-md-power"></i>
			</div>
		</nav>

		<section class="container-fluid products">
			<section class="welcome">
				<div class="greetings">
					<div class="welcome-1 main">
						<div class="row">
							<div class="col-md-6">
								<h4>Welcome back Ledum!</h4>
								<p>You've viewed 80% of new products
								today. kepp it up and improve your results</p>
							</div>
							<div class="col-md-6">
								<img src="../static/svg/boss.svg" alt="avatar" class="greeting-svg">
							</div>
						</div>
					</div>
					<div class="welcome-1 sec">
						<div class="row">
							<div class="col-md-6">
								<h4>Welcome back Ledum!</h4>
								<p>You've viewed 80% of new products
								today. kepp it up and improve your results</p>
							</div>
							<div class="col-md-6">
								<img src="../static/svg/boss.svg" alt="avatar" class="greeting-svg">
							</div>
						</div>
					</div>
					<div class="welcome-1 thir">
						<div class="row">
							<div class="col-md-6">
								<h4>Welcome back Ledum!</h4>
								<p>You've viewed 80% of new products
								today. kepp it up and improve your results</p>
							</div>
							<div class="col-md-6">
								<img src="../static/svg/boss.svg" alt="avatar" class="greeting-svg">
							</div>
						</div>
					</div>
					<div class="welcome-1 four">
						<div class="row">
							<div class="col-md-6">
								<h4>Welcome back Ledum!</h4>
								<p>You've viewed 80% of new products
								today. kepp it up and improve your results</p>
							</div>
							<div class="col-md-6">
								<img src="../static/svg/boss.svg" alt="avatar" class="greeting-svg">
							</div>
						</div>
					</div>
				</div>
			</section>
			<div class="row">
				<div class="col-lg-5">
					<div class="top-picks">
						<h4>Top products today
							<i style="float: right;color: #00adb5;" class="icon ion-md-aperture"></i></h4>
						<div class="picks">
							<img src="../static/svg/cart.svg" alt="avatar" class="avatar">
							<p>Honey tearing mask</p>
							<a href="#">View more</a>
						</div>
						<div class="picks">
							<img src="https://ae01.alicdn.com/kf/Ha3625f9a15d041c7bd626aecc4da8b7dl.jpg_350x350.jpg" class="avatar">
							<p>Aurora Candrova Belt</p>
							<a href="#">View more</a>
						</div>
						<div class="picks">
							<img src="https://ae01.alicdn.com/kf/HTB10FYxUxjaK1RjSZKzq6xVwXXav.jpg_350x350.jpg" class="avatar">
							<p>Aurora Candrova Belt</p>
							<a href="#">View more</a>
						</div>
						<div class="picks">
							<img src="https://ae01.alicdn.com/kf/HTB11jOeX9SD3KVjSZFKq6z10VXaI.jpg_350x350.jpg" class="avatar">
							<p>Aurora Candrova Belt</p>
							<a href="#">View more</a>
						</div>
						<div class="picks">
							<img src="https://ae01.alicdn.com/kf/Hd44145fa62fe45c9b541f3dbced68ebf8.jpg_350x350.jpg" class="avatar">
							<p>Aurora Candrova Belt</p>
							<a href="#">View more</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</div>
</body>

</html>