<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content= "width=device-width, initial-scale=1.0">
	<title>Cureator</title>
	<link href="https://fonts.googleapis.com/css?family=Oswald|Slabo+27px&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
</head>
<body>
	<section class="init">
		<header class="container-fluid start">
			<nav class="nav">
				<div class="logo"><h2>Cureator</h2></div>
				<ul>
					<li><a href="#container">How it works</a></li>
					<li><a href="#pricing">Pricing</a></li>
					<li><a href="#contact">Contact Us</a></li>
				</ul>
			</nav>
			<div class="row align-items-center">
				<div class="col-lg-2 d-none d-sm-block"></div>
			<div class="explana col-lg-4">
				<h1>Sourcing for E-commerce Products made easy</h1>
				<p>With Cureator, sourcing for e-commerce products is stress free, time saving and more trusted, we take your business to the global market.</p>
				<div id="button">
				<a class="btn cta" href="#">
					Get Started
				</a>
			</div>
			</div>
			<div class="image col-lg-6">
				<img src="../static/img/shop.svg">
			</div>
		</div>
		</header>
		<svg
   id="svg"
   viewBox="0 0 297 210"
   height="210mm"
   width="297mm"
   preserveAspectRatio="none"
   >
  <g
     transform="translate(0,-87)"
     id="layer1">
    <path
       id="path3802"
       d="m -3.08,246.88 c 113.12,0 139.47188,52.45245 167.61354,44.91192 28.14166,-7.54054 27.65835,-33.63782 58.2624,-33.63782 30.60406,0 77.00798,-44.46058 77.00798,-44.46058 L 299.32,299.24 H -15.4 l 4.2,-52.08 z"
       style="fill:#fff;stroke:#fff;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
  </g>
</svg>

	</section>
	<main id="container" class="container">
		<div class="work row">
			<div class="col-sm-4">
				<div class="wrapper">
				<i class="icon ion-md-clock"></i>
				<h5>Sleek Ui Design</h5>
				<p>Using Cureator App you can enjoy seemless designs
				to your store and create monetary value..</p>
			</div>
			</div>
			<div class="col-sm-4">
				<div class="wrapper">
				<i class="icon ion-md-clock"></i>
				<h5>Sleek Ui Design</h5>
				<p>Using Cureator App you can enjoy seemless designs
				to your store and create monetary value..</p>
			</div>
			</div>
			<div class="col-sm-4">
				<div class="wrapper">
				<i class="icon ion-md-clock"></i>
				<h5>Sleek Ui Design</h5>
				<p>Using Cureator App you can enjoy seemless designs
				to your store and create monetary value..</p>
			</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 main-image">
				<img src="../static/img/online.svg">
			</div>
			<div class="col-sm-6 explan">
				<i class="icon ion-md-aperture"></i>
				<h3>Easily search for Trending E-commerce products</h3>
				<p class="head-text">dkjwfbuhebfunbejbfjhebfehbjuhewbjhe
				efkjwbefhuebbhbufhebubhijfiehbfijeb
				erfijerfbhbueufbrbfuhrbfr3</p>
				<div class="extra">
					<h5>Feature Integration</h5>
					<p>3rf3rfr3frfrgtgtygrgrergrg4gk4jgubhbg
				rgojirtibij4gjibdkwniqj fibu3f 3bhur34
				3rglkji3ghji3rg irjh3bgub3ui gr3n gu34g
				34gk4ji3hubg4ij3 4gojki34hgbu4vg3h</p>
				</div>
			</div>
			<div class="col-sm-6 main-image order-sm-2">
				<img src="../static/svg/delivery.svg">
			</div>
			<div class="col-sm-6 explan order-sm-1">
				<i class="icon ion-md-clock"></i>
				<h3>Updates on New Market Products</h3>
				<p class="head-text">dkjwfbuhebfunbejbfjhebfehbjuhewbjhe
				efkjwbefhuebbhbufhebubhijfiehbfijeb
				erfijerfbhbueufbrbfuhrbfr3
				3rf3rfr3frfrgtgtygrgrergrg4gk4jgubhbg</p>
				<div class="extra">
					<h5>Feature Integration</h5>
					<p>3rf3rfr3frfrgtgtygrgrergrg4gk4jgubhbg
				rgojirtibij4gjibdkwniqj fibu3f 3bhur34
				3rglkji3ghji3rg irjh3bgub3ui gr3n gu34g
				34gk4ji3hubg4ij3 4gojki34hgbu4vg3h</p>
				</div>
			</div>
		</div>
	</main>
	<section class="pricing" id="pricing">

		<div class="container">
			<div class="trial">
				<h2>Start your 14 days free trial. <br><strong>(No credit card required !)</strong></h2>
				<p>Save up on that cash and test us for 14 days, then you make your choice, at Cureator we don't dissapoint.</p>
				<div class="button"><a href="#" class="trial-btn btn">
					Start Trial
				</a>
				</div>
			</div>
		</div>
	</section>
	<section id="contact" class="container">
		<h3>Send a Message</h3>
		<div class="row px-2 justify-content-center">
			<div class="form col-sm-6">
			<form>
				<div class="form-group">
				    <label for="exampleInputEmail1">Full Name</label>
				    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your name">
				</div>
				<div class="form-group">
				    <label for="exampleInputEmail1">Email address</label>
				    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
				    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
				</div>
				<div class="form-group">
				    <label for="exampleFormControlTextarea1">Message</label>
				    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
				</div>
				<div class="btn-div">
				<button type="submit" class="btn form-btn">Submit</button>
			</div>
			</form>
			</div>
		</div>
	</section>
	<footer id="page-end">
		<p class="text-center">
			Designed by <a target="_blank" href="#pricing">Ibaakee Ledum</a> @ Cureator</p>
	</footer>

</body>
</html>